$main-background: #B5CA8D;
$primary-color: #381D2A;
$white: #EDF2F4;
$book-grey: #426B69;
$light-grey: #C5CAD8;
$indigo: #2A4849;
$blue: #1B7DD3;

$background: #E0E0E0;

$primary-blue: #2196F3;
$dark-variant: #1976D2;
$light-variant: #90CAF9;
$dark-bluegrey: #455A64;
$error: #B71C1C;
$error2: #B00020;



$Serif: PT Sans, sans-serif;
$Lato: Lato, sans-serif;
$Sans: PT Sans, sans-serif;


*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $Sans;
}

body {
  background: $main-background;
  // background: $background;
}
  
button {
  padding: 6px 5px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}