.bookgrid {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 420px 420px 420px;
  grid-template-rows: 200px 200px;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  justify-content: center;

  @media (max-width: 1350px) {
    grid-template-columns: 420px 420px;
  }
  @media (max-width: 1024px) {
    grid-template-columns: 500px;
    grid-template-rows: 220px;
  }

  @media (max-width: 720px) {
    grid-template-columns: 500px;
    grid-template-rows: 220px;
  }
  
}